@page "/events/{eventId:guid}/challenges"

@if (_challengesResult == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card mb-3" style="width: 35rem;">
        <div class="card-body">
            <h3 class="card-title">
                @if (_challengesResult.Event.IsOpen)
                {
                    <span class="badge badge-warning mr-2">Live</span>
                }
                <a href="/events/@_challengesResult.Event.Id" class="card-link">@_challengesResult.Event.Title</a>
            </h3>
            <h5 class="card-subtitle mb-2 text-muted" id="timerDiv"></h5>

            <p class="card-text">@_challengesResult.Event.Description</p>
        </div>
    </div>

    <h3>Challenges</h3>
    
    <ul class="nav nav-tabs">
        @foreach (var challenge in _challengesResult.Challenges)
        {
            <li class="nav-item">
                <a class="nav-link @(challenge.Id == _currentChallenge.Id? "active" : "")" aria-current="page" @onclick="() => ChangeChallenge(challenge.Id)" href="#" @onclick:preventDefault>Challenge @challenge.Order</a>
            </li>
        }
    </ul>

    <ChallengeView SelectedChallenge="@_currentChallenge" EventId="@EventId" IsOpen="@_challengesResult.Event.IsOpen"/>

    <br />
}