<div>
    <p class="mt-2 mb-2">
        <Markdown Text="@QuestionChallengeResource.Description" />
    </p>

    <p>
        To begin, <a href="" @onclick="DownloadInput" @onclick:preventDefault>get your input.</a>
    </p>

    <EditForm class="form-inline" Model="@SubmitAnswerResource" OnValidSubmit="@HandleValidSubmit">
        <div class="form-group mb-2">
            <label for="inputPassword2" class="col-form-label"><strong>Answer</strong></label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Answer</label>
            <InputText class="form-control form-control-sm" id="answer" @bind-Value="@SubmitAnswerResource.Answer"></InputText>
        </div>
        
        <button type="submit" class="btn btn-info mb-2 btn-sm">Submit</button>

        <div class="alert @StatusClass mx-sm-3 mb-2 alert-submit-message">@Message</div>
    </EditForm>
</div>
