@page "/admin/events/{eventId:guid}/questions/create"
@using FindExactSolution.Web.Client.Areas.Admin.Pages.Shared

<section class="question-create">
    <h1 class="page-title">Create</h1>

    <EditForm Model="@CreateQuestionResource" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="title">Title </label>
            <InputTextArea id="title" class="form-control" placeholder="Enter a title" @bind-Value="@CreateQuestionResource.Title"></InputTextArea>
        </div>

        <div class="form-group">
            <label for="body">Body </label>
            <QuillRichTextBox />
            <div @ref="@_divEditorElement"/>
        </div>

        <div class="form-group">
            <label for="body">Point </label>
            <InputNumber id="point" class="form-control" min="0" @bind-Value="@CreateQuestionResource.Point"></InputNumber>
        </div>

        <button type="submit" class="btn btn-success edit-btn">Create</button>

        <button class="btn btn-danger edit-btn" @onclick="Cancel">Cancel</button>

    </EditForm>
</section>