@page "/admin/events/{eventId:guid}/challenges/{challengeId:guid}/questions/{id:guid}/edit"

<div class="p-4">
    <section class="question-edit">

        <h2 class="page-title">Edit</h2>

        <EditForm Model="@AdminQuestionEditResource" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="body">Description </label>
                <QuillRichTextBox />
                <div @ref="@DivEditorElement" />
            </div>

            <div class="form-group">
                <label for="body">Point </label>
                <InputNumber id="point" class="form-control" min="0" @bind-Value="@AdminQuestionEditResource.Point"></InputNumber>
            </div>

            <div class="form-group">
                <label for="input">Input </label>
                <InputTextArea id="input" class="form-control" placeholder="Enter an input" @bind-Value="@AdminQuestionEditResource.Input"></InputTextArea>
            </div>

            <div class="form-group">
                <label for="title">Answer </label>
                <InputText id="answer" class="form-control" placeholder="Enter an answer" @bind-Value="@AdminQuestionEditResource.Answer"></InputText>
            </div>

            <button type="submit" class="btn btn-success edit-btn">Save</button>

            <button class="btn btn-danger edit-btn" @onclick="Cancel">Cancel</button>

        </EditForm>
    </section>
</div>

