@page "/events/{id:guid}"

@if (_event == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card" style="width: 50rem; margin-bottom: 10px">
        <div class="card-body">
            <h4 class="card-title">
                <strong>@_event.Title</strong>
            </h4>

            <h5 class="card-subtitle mb-2 text-muted">
                <span class="badge badge-info">
                    @_event.StartDateTime.ConvertToDefaultDateFormat()
                    - @_event.EndDateTime.ConvertToDefaultTimeFormat()
                </span>
                <small><a href="/events/@_event.Id/challenges" class="card-link">Go to challenges</a></small>

                <small><a href="/events/@_event.Id/leaderboard" class="card-link">Go to leaderboard</a></small>
            </h5>

            <p class="card-text font-italic">@_event.Description</p>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
    </div>

    @if (!_event.IsCurrentUserRegistered)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Registration for the @_event.Title is still open. <strong>Please register ASAP!</strong>
        </div>

        <button type="button" class="btn btn-info" @onclick="RegisterAsync">Register</button>
    }
    else
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            You have successfully registered for an <strong>event</strong>
        </div>

        @if (_event.Team == null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
               You have not been assigned to any <strong>teams</strong> yet
            </div>
        }
        else
        {
            <h4>@_event.Team.Name</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @code{int row = 0;}

                    @foreach (var member in _event.Team.Users)
                    {
                        <tr>
                            <td>@(++row)</td>
                            <td>@member.UserName</td>
                            <td>@member.FirstName</td>
                            <td>@member.LastName</td>
                            <td>@member.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}