<div class="content px-4">

    <h5>
        <strong>@SelectedChallenge.Order. @SelectedChallenge.Title</strong>
    </h5>

    <div class="challenge-point">
        <h5>
            <span class="badge badge-info">@SelectedChallenge.Point points</span>
        </h5>
    </div>

    <hr />

    <div>
        <Markdown Text="@SelectedChallenge.Body" />
    </div>

    @{ int counter = 0;}

    @foreach (var question in SelectedChallenge.Questions)
    {
        <div>
            <p>
                <strong>Question @(++counter)</strong> <span class="badge badge-info">@question.Point points</span>
            </p>
        </div>
            
        <QuestionSubmit QuestionChallengeResource="@question" EventId="@EventId"></QuestionSubmit>
    }
</div>