@page "/yerbol/admin/events/{id:guid}"

@if (_eventDetail == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@_eventDetail.Title</h3>

    <p class="lead">
        <em>
            @_eventDetail.Description
        </em>
    </p>

    <hr />

    <h4>Challenges</h4>

    <button class="btn btn-success" @onclick=@NavigateToCreateChallenge>Create</button>

    <div class="mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var challenge in _eventDetail.Challenges)
                {
                    <tr>
                        <td>@challenge.Id</td>
                        <td>@challenge.Title</td>
                        <td>
                            <a href="/admin/events/@Id/challenges/@challenge.Id">View</a>
                            |
                            <a href="/admin/events/@Id/challenges/@challenge.Id/edit">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />

    <h4>Registrations</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>UserName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var registration in _eventDetail.Registrations)
            {
                <tr>
                    <td>@registration.FirstName</td>
                    <td>@registration.LastName</td>
                    <td>@registration.UserName</td>
                    <td>@registration.Email</td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <h4>Teams</h4>

    <button class="btn btn-success" @onclick="GenerateTeamAsync">Generate</button>

    @if (_eventDetail.Teams == null || _eventDetail.Teams.Count() == 0)
    {
        <p style="margin-top:5px">No results found</p>
    }
    else
    {
        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total users</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in _eventDetail.Teams)
                    {
                        <tr>
                            <td>@team.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <hr />

    <h4>Leaderboard</h4>

    <button class="btn btn-success" @onclick="GenerateLeaderboardAsync">Generate</button>

    @if (_eventDetail.Results == null || _eventDetail.Results.Count() == 0)
    {
        <p style="margin-top:5px">No results found</p>
    }
    else
    {
        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Total challenges</th>
                        <th>Challenges solved</th>
                        <th>Total questions</th>
                        <th>Questions solved</th>
                        <th>Total points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in _eventDetail.Results)
                    {
                    <tr>
                        <td>@result.TeamName</td>
                        <td>@result.TotalChallenges</td>
                        <td>@result.SolvedChallenges</td>
                        <td>@result.TotalQuestions</td>
                        <td>@result.SolvedQuestions</td>
                        <td>@result.TotalPoints</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}